<div>
    <h3>资源详情:{{resource.resource_name}}</h3>
    <div class="col-sm-12">
        <h3>资源概况</h3>
        <div ng-if="hasResource" ng-init="hasResource = true" class="infoGroup">
            <h4>基本信息</h4>
            <hr class="header_rule">
            <dl>
                <dt>栈资源名称</dt>
                <dd>{{resource.resource_name}}</dd>
            </dl>
            <dl>
                <dt>资源ID</dt>
                <dd>
                    <a ng-if="resource.resource_type=='OS::Heat::ResourceGroup'"
                       force-Href="#/viewStack?id={{resource.physical_resource_id}}">{{resource.physical_resource_id}}</a>
                    <a ng-if="resource.resource_type=='OS::Nova::Server'"
                       force-Href="#/viewInstance?id={{resource.physical_resource_id}}">{{resource.physical_resource_id}}</a>
                    <a ng-if="resource.resource_type=='OS::Neutron::Port'"
                       force-Href="#/viewPort?id={{resource.physical_resource_id}}">{{resource.physical_resource_id}}</a>
                    <label ng-if="resource.resource_type=='OS::Neutron::FloatingIP'">{{resource.physical_resource_id}}</label>
                </dd>
            </dl>
            <dl>
                <dt>栈资源类型</dt>
                <dd>{{resource.resource_type}}</dd>
            </dl>
            <dl>
                <dt>描述</dt>
                <dd>{{resource.description}}</dd>
            </dl>
        </div>
        <div class="infoGroup">
            <h4>状态</h4>
            <hr class="header_rule">
            <dl>
                <dt>最近更新</dt>
                <dd>{{resource.updated_time}}</dd>
            </dl>
            <dl>
                <dt>状态</dt>
                <dd>{{resource.resource_status}}</dd>
            </dl>
        </div>
        <div class="infoGroup">
            <h4>资源元数据</h4>
            <hr class="header_rule">
            <pre>{{resource.required_by}}</pre>
        </div>
    </div>
</div>