<div>
    <h3>集群清单</h3>
    <div style="text-align:right">
        <span style="font-size:15px;width:100px;text-align: center;">条件过滤:</span>
        <input type="text" ng-model="searchText" class="form-control" id="name" placeholder="请输入集群名"
               style="height:30px;width:160px;margin:0px;" ng-change="search()"/>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table id="mainTable" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr class="success">
                        <th style="text-align:center"><input type="checkbox" id="selectAll" ng-checked="isSelectedAll()"
                                                             ng-click="selectAll($event)"></th>
                        <th datatype="text">栈名称</th>
                        <th datatype="date">创建时间</th>
                        <th datatype="date">更新时间</th>
                        <th datatype="text">状态</th>
                        <th datatype="text">所有者</th>
                        <!--<th>操作</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stack in list">
                        <td style="text-align:center"><input type="checkbox" ng-checked="isSelected(stack.id)"
                                                             ng-click="updateSelection($event,stack.id)"></td>
                        <td><a href="#viewStack?id={{stack.id}}&stackName={{stack.stack_name}}">{{stack.stack_name}}</a>
                        </td>
                        <td>{{stack.creation_time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{stack.updated_time}}</td>
                        <td>{{stack.stack_status}}</td>
                        <td>{{stack.stack_owner}}</td>
                        <!--<td>-->
                        <!--<div class="dropdown">-->
                        <!--<button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1"-->
                        <!--data-toggle="dropdown">操作-->
                        <!--&lt;!&ndash; 下拉箭头&ndash;&gt;-->
                        <!--<span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                        <!--<li><a role="menuitem" tabindex="-1" data-target="#">挂起栈</a></li>-->
                        <!--<li><a role="menuitem" tabindex="-1" data-target="#">恢复栈</a></li>-->
                        <!--<li><a role="menuitem" tabindex="-1" data-target="#" style="color:red;">删除栈</a></li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</td>-->
                    </tr>
                    <tr ng-if="list.length==0">
                        <td colspan="7" style="text-align:center">没有要显示的条目</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <td colspan="5" class="pagination" style="text-align:left"
                        ng-init="hasFilter=false">
                        <select style="width:80px" ng-init="pageShow = pageList[0]" ng-model="pageShow"
                                ng-options="x for x in pageList" ng-change="changePerPage(pageShow)" ng-show="!hasFilter">
                        </select>
                        <ul style="height:25px;">
                            <li>
                                <a data-target="#">{{totalCount}}项</a>
                            </li>
                            <li>
                                <a data-target="#" ng-show="!hasFilter">{{currPage+1}}/{{totalPage}}页</a>
                            </li>
                            <li>
                                <a data-target="#" ng-click="previousPage()" ng-show="!hasFilter">上一页</a>
                            </li>
                            <li>
                                <a data-target="#" ng-click="nextPage()" ng-show="!hasFilter">下一页</a>
                            </li>
                        </ul>
                    </td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>