<div>
    <h2>端口列表清单</h2>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>状态</th>
                        <th>MAC地址</th>
                        <th>ID值</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="server in list">
                        <td>{{server.status}}</td>
                        <td>{{server.mac_address}}</td>
                        <td>{{server.id}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>