<div>
    <h2>子网列表清单</h2>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>网络地址</th>
                        <th>IP版本</th>
                        <th>网关IP</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="server in list">
                        <td>{{server.name}}</td>
                        <td>{{server.cidr}}</td>
                        <td>{{server.ip_version}}</td>
                        <td>{{server.gateway_ip}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>