<div>
    <h2>端口列表清单</h2>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>固定IP</th>
                        <th>连接设备</th>
                        <th>状态</th>
                        <th>管理员状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="server in list">
                        <td>{{server.id}}</td>
                        <td>{{server.fixed_ips[0].ip_address}}</td>
                        <td>{{server.device_owner}}</td>
                        <td>{{server.status}}</td>
                        <td>{{server.admin_state_up}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>