<div>
    <h3>身份验证已过期，请重新登录</h3>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <fieldset>
                    <legend>登录</legend>
                    <label>项目名</label>
                    <input type="text" ng-model="tenantName"/>
                    <label>用户名</label>
                    <input type="text" ng-model="userName"/>
                    <label>密码</label>
                    <input type="password" ng-model="passWord"/><br>
                    <div ng-if="showWarning" ng-init="showWarning=false">
                        <h4><span class="label label-warning">{{warnInfo}}</span></h4>
                    </div>
                    <button class="btn" ng-click="reload()">提交</button>
                </fieldset>
            </div>
        </div>
    </div>
</div>
