<div>
    <h3>项目详情:{{project.name}}</h3>
    <div class="col-sm-12">
        <h4>项目概览</h4>
        <h5>基本信息</h5>
        <div ng-if="hasDetail" ng-init="hasDetail = true">
            <hr class="header_rule">
            <dt>项目名称</dt>
            <dd>{{project.name}}</dd>
            <dt>项目ID</dt>
            <dd>{{project.id}}</dd>
            <dt>激活</dt>
            <dd>{{project.enabled}}</dd>
            <dt>描述</dt>
            <dd>{{project.description}}</dd>
        </div>
        <div ng-if="hasError" ng-init="hasError=false">
            <div class="span12">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>
                        提示!
                    </h4> <strong>警告!</strong> {{errorMessage}}.
                </div>
            </div>
        </div>
    </div>
</div>
</div>