<div>
    <h3>项目列表</h3>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12" style="text-align:right">
                <button type="button" class="btn btn-info btn-lg" ng-click="addUser()" data-target="#addUser"
                        data-target="#modal-container-553362" role="button" data-toggle="modal">添加项目
                </button>
                <button type="button" class="btn btn-danger btn-lg" ng-click="deleteUser()">删除项目</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr class="success">
                        <th><input type="checkbox" id="selectAll"></th>
                        <th>名称</th>
                        <th>描述</th>
                        <th>项目ID</th>
                        <th>激活</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="server in list">
                        <td><input type="checkbox"></td>
                        <td><a href="#viewProgram?id={{server.id}}">{{server.name}}</a></td>
                        <td>{{server.description}}</td>
                        <td>{{server.id}}</td>
                        <td>{{server.enabled}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm cellBtn">编 辑</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
